@font-face {
    font-family: "Cocon";
    src: url('fonts/Cocon-Regular-Font.otf');
    src: url('fonts/Cocon-Regular-Font.otf') format('opentype');
  }

body {
    display: flex;
    justify-content: center;
    background-color: #192747;
    font-family: "Cocon", Arial, Helvetica, sans-serif;
    color: #b2b5bf;
}


#main-header-small {
    font-size: 20px;
}

#main-header-big {
    color: #54c798;
}


#label-discord-bot {
    background-position: center 100px;
}

.section-header {
    margin: auto auto 0px 5px;
}

.section {
    background-color: #131b2f;
    border-radius: 10px;
    padding: 5px 10px 15px 10px;
}

.subsection {
    background-color: #253250;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-bottom: -4px;
}

a {
    color: #9cc0d2;
}

a:hover, a:visited {
    color: #73a3d0;
}

a[class="project"] {
    text-decoration: none;
}

.icon-text {
    margin: 0 auto
}

.container {
    margin: 10px 10px;
}